body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

nav {
    background: #333;
    padding: 12px;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background: #555;
}
section {
    padding: 40px;
    text-align: center;
}

body {
    background: #f3f9f4;
}

.carousel-inner img {
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    border-radius: 12px;
}

table th {
    font-size: 15px;
}

table td {
    font-size: 14px;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

footer {
    margin-top: 40px;
}

